# PostgreSQL
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_DB=blogapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespass
POSTGRES_PORT=5432
POSTGRES_DATA_DIR=/var/lib/postgresql/data

# Redis
REDIS_CONTAINER_NAME=redis
REDIS_PASSWORD=redispass
REDIS_PORT=6379
REDIS_DATA_DIR=/data
