flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-jwt-extended
psycopg2
pydantic==2.9.2
python-dotenv
passlib
apispec[yaml]
apispec-webframeworks
apispec-pydantic-plugin==0.6.0
apispec-plugins[flask,pydantic]
tox
celery[redis]>=5.4.0
gunicorn
flask-cors
